.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;
  height: 91svh;
  gap: 1rem;
  border-radius: 1rem;
}

.chat-container h2 {
  margin: 1rem auto 2rem;
}

.input-container {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid rgb(84, 138, 138);
  background-color: black;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.input-container textarea {
  position: relative;
  background-color: transparent;
  border: 0;
  width: 90%;
  height: auto;
  max-height: 5rem;
  overflow-y: auto;
  overflow-wrap: break-word;
  resize: none;
}

.input-container textarea:focus {
  outline: none;
}

.input-container textarea::-webkit-scrollbar {
  width: 10px;
}

.input-container textarea::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.input-container textarea::-webkit-scrollbar-thumb {
  background: darkslategray;
  border-radius: 11rem;
}

.input-container textarea::-webkit-scrollbar-thumb:hover {
  background: #b0a695;
}

.input-container button {
  margin-left: 3px;
  padding: 0.3rem 0.8rem;
}

.chat-messages-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 1.2rem;
}

.chat-messages-container .message-container {
  display: flex;
  gap: 1rem;
}

.chat-messages-container .message-container svg {
  font-size: 1.6rem;
  color: rgb(84, 138, 138);
}

.chat-messages-container .message-container .message-subcontainer{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.message-subcontainer .message-role {
  margin-top: 1px;
  font-size: 1.2rem;
  font-weight: bold;
  /* color: rgb(84, 138, 138); */
}

.message-subcontainer .message-content {
  font-size: 0.9rem;
}

.chat-messages-container::-webkit-scrollbar {
  width: 10px;
}

.chat-messages-container::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.chat-messages-container::-webkit-scrollbar-thumb {
  background: darkslategray;
  border-radius: 11rem;
}

.chat-messages-container::-webkit-scrollbar-thumb:hover {
  background: #b0a695;
}