.home-title {
    padding: 2rem 0;
}

.login-container {
    height: 40svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login-container .post-response {
    font-size: 0.7rem;
}